@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url(./fonts/PressStart2P.ttf) format('truetype');
}

@font-face {
  font-family: 'DS-DIGI';
  src: local('DS-DIGI'), url(./fonts/DS-DIGI.TTF) format('truetype');
}

.App {
  height: 96vh;
  font-family: DS-DIGI;
  padding: 2vh;
  font-size: calc(16px + 1vmin);
  color: white;
  background-color: #0F212B;
  display: flex;
  align-items: center;
}

.main-container {
  height: 768px;
  width: 1024px;
  margin: 0 auto;
  background: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-container.shaking {
  margin-bottom: 20px;
  transition: margin-bottom .2s ease-in-out;
}

.align-right {
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
